
$bg-color:#282828;
$font-color:rgb(211, 211, 211);
$primary-color:#1EB450;
$dark-overlay: #282828e3;
$icon-size:30px;

.bg-theme1{
    background: $primary-color;
}
.bg-theme2{
    background: $dark-overlay;
}
.text-theme1{
    color: $font-color;
}
body{
  background:$bg-color;
  color:$font-color;
}

.navebar-color-toggle{
    background: $primary-color;
}

#home-section{
    height: 100vh;
  
    .full-scrn-video-wrap{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        video{
            min-width: 100%;
            min-height: 100%;
        }
    }

  .dark-overlay{
    background-color:$dark-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin: 0 auto;
  }
 
  .home-inner{
    .row{
        height: 100vh;
    }
  }

  .fa{
    color:$primary-color;
    background:#fff;
    padding-left: 4px;
    border-radius: 5px;
    font-size:$icon-size;
  }
}

#explore-section, #portfolio-section{
  .fa{
    color:#fff;
    background: $primary-color;
    padding:4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#how-it-works-section{
  img{
    max-width: 100%;
  }
  .fa{
    color:$primary-color;
    background:#fff;
    padding-left: 4px;
    border-radius: 5px;
    font-size:$icon-size;
  }
}
